.navbar {
    transition: background-color 0.3s ease;
  }
  
  .bg-transparent {
    background-color: transparent !important;
  }
  
  .bg-dark {
    background-color: #343a40 !important;
  }
  
  .fixed-top {
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  